{
    "name": "{{NAME}}",
    "version": "{{VERSION}}",
    "homepage": "{{HOMEPAGE}}",
    "authors": "Or Ricon <rikonor@gmail.com>",
    "summary": "An example ping extension",
    "download_url_template": "{{DOWNLOAD_URL_TEMPLATE}}",
    "categories": [],
    "keywords": [],
    "dependencies": {
        "dfx": ">=0.24.1"
    },
    "subcommands": {
        "t": {
            "about": "See https://github.com/dfinity/sdk/blame/master/src/dfx-core/src/extension/manager/install.rs#L180"
        }
    }
}